<p><%= link_to "Create New Article", new_article_path %>
</p>
<h1>All Articles</h1>
<table>
  <tr>
  <th>Title</th>
  <th>description</th>
  </tr>

    <% @article.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Edit', edit_article_path(post) %></td>
        <td><%= link_to 'Show', article_path(post) %></td>
        <td><%= link_to 'Delete', article_path(post), method: :delete, data: {confirm: "Are you Sure?"} %></td>
      </tr>
    <% end %>
</table>
